.wrapper#wrapper-div #head-1 {
	color: pink !important;
}

div .heading {
	color: blue !important;
}

div#wrapper-div h1 {
	color: yellow;
}

div.wrapper h1 {
	color: red;
}
							
								| inline styling |	IDs	| classes... | elements...
----------------------------------------------------------------------------------
.wrapper#wrapper-div #head-1	|				 |	2 	|	1 		 |
----------------------------------------------------------------------------------
div .heading					|				 | 		| 	1 		 | 	1 	
----------------------------------------------------------------------------------
div#wrapper-div h1 				|				 | 	1 	| 			 | 	2	
----------------------------------------------------------------------------------
div.wrapper h1 					|				 | 		| 	1 		 | 	2
----------------------------------------------------------------------------------